form input[type=text] {
    width: calc(100% - 110px);
    font-size:18px;
}

form input[type=button] {
    width: 90px;
    font-size:18px;
}

#newlistform {
    margin: 10px auto;
}

td.listcolumn {
    text-align: left;
}

.opcolumn input[type=button] {
    font-size:18px;
}