<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }
    </style>
    <script>
        var hideEmpty = function() {
                $('tr').each(function(index){
                    if( $(this).find('.info').text() == "" ){
                        $(this).hide();
                    }
                });
                if( $('#trace pre').text() == "" ){
                    $('#trace').hide();
                }
            }
    </script>
</head>
<body onload='hideEmpty()'>
<h1>An error has occurred.</h1>
<br>
<table>
    <tr>
        <td>Date</td>
        <td class='info' th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td class='info' th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td class='info' th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td class='info' th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td class='info' th:text="${message}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td class='info' th:text="${exception}"/>
    </tr>
    <tr id='trace'>
        <td>Trace</td>
        <td class='info'>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>
</body>
</html>