<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Todo-List</title>
  <meta name="author" content="Ethan Schoen">
  <meta name="description" content="Keep track of what you need todo">

  <link rel="stylesheet" th:href="@{/css/tasks.css}">

</head>

<body>
  <script th:src="@{/js/tasks.js}"></script>
  <h1 style="text-decoration: underline;">Todo List</h1>
  <form action="/add" method="POST" id="newtaskform">
    <input type="text" name="task" id="newtask">
    <input type="submit" value="Add Task">
  </form>
  <!-- <form action="/user/sign-out" method="GET" id="signout">
    <input type="submit" value="Sign Out">
  </form> -->
  <br>
  <table id="list">
    <colgroup>
      <col span="1" style="width: 25px;">
      <col span="1" style="width: 80%;width: -webkit-calc(100% - 170px);width: -moz-calc(100% - 170px);width: calc(100% - 170px);">
      <col span="1" style="width: 160px;">
    </colgroup>
    <tr>
      <th class="taskcolumn" colspan="2">Task</th>
      <th class="opcolumn">Operation</th>
    </tr>
    <tr th:each="task : ${tasks}" th:id="${task.id}">
        <td> <input type="checkbox" class="taskCheckBox" th:checked="${task.complete}" th:attr="onclick=|taskCheck(${task.id})|"> </td>
        <td class="taskcolumn" th:style="${task.complete ? 'text-decoration:line-through;' : '' }"><span th:text="${task.task}"> Task </span></td>
        <td class="opcolumn">
            <input type="button" value="Edit" class="editButton" th:attr="onclick=|editRow(${task.id})|">
            <input type="button" value="Remove" class="removeButton" th:attr="onclick=|deleteRow(${task.id})|">
        </td>
    </tr>
  </table>
</body>
</html>