<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Todo-List</title>
  <meta name="author" content="Ethan Schoen">
  <meta name="description" content="Keep track of what you need todo">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="listId" th:content="${list.getListId()}"


  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/tasks.css}">
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script th:src="@{/js/tasks.js}"></script>
  <script th:src="@{/js/scripts.js}"></script>
</head>

<body>
  <h1 th:utext="${list.getName()}">Todo List</h1>
  <form th:action="@{/addTask}" method="POST" id="newtaskform">
    <input type="text" name="task" id="newtask">
    <input class="btn btn-secondary" type="submit" value="Add Task">
  </form>
  <br>
  <table id="list">
    <colgroup>
      <col span="1" style="width: 25px;">
      <col span="1" style="width: 80%;width: -webkit-calc(100% - 170px);width: -moz-calc(100% - 170px);width: calc(100% - 170px);">
      <col span="1" style="width: 170px;">
    </colgroup>
    <tr>
      <th class="taskcolumn" colspan="2">Task</th>
      <th class="opcolumn">Operation</th>
    </tr>
    <tr th:each="task : ${tasks}" th:id="${task.taskId}">
        <td> <input type="checkbox" class="taskCheckBox" th:checked="${task.complete}" th:attr="onclick=|taskCheck(${task.taskId})|"> </td>
        <td class="taskcolumn" th:style="${task.complete ? 'text-decoration:line-through;' : '' }" th:text="${task.task}"> </td>
        <td class="opcolumn">
            <input type="button" value="Edit" class="editButton" th:attr="onclick=|editRow(${task.taskId})|">
            <input type="button" value="Remove" class="removeButton" th:attr="onclick=|deleteRow(${task.taskId})|">
        </td>
    </tr>
  </table>
  <br><br>
  <a class="btn btn-primary" href="/lists" role="button">Back to Lists</a>
  <button onClick="logout()" class="btn btn-primary">Logout</button>
</body>
</html>