<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Todo-List</title>
  <meta name="author" content="Ethan Schoen">
  <meta name="description" content="Keep track of what you need todo">

  <link rel="stylesheet" href="/static/css/styles.css?v=1.0">

</head>

<body>
  <script src="/static/js/scripts.js"></script>
  <h1 style="text-decoration: underline;">Todo List</h1>
  <table id="list">
    <colgroup>
      <col span="1" style="width: 20px;">
      <col span="1" style="width: calc(100% - 170px);">
      <col span="1" style="width: 160px;">
    </colgroup>
    <tr>
      <th class="taskcolumn" colspan="2">Task</th>
      <th class="opcolumn">Operation</th>
    </tr>
  </table>
  <form id="newtaskform">
    <input type="text" name="newtask" id="newtask" onkeydown="newTaskEnter(this)">
    <input type="button" value="Add Task" onclick="addTask(document.getElementById('newtask').value)">
  </form>
</body>
</html>